<p id="notice"><%= notice %></p>

<p>
  <b>Area address:</b>
  <%= @shipping_line_office.area_address %>
</p>


<%= link_to 'Edit', edit_shipping_line_office_path(@shipping_line_office) %> |
<%= link_to 'Back', shipping_line_offices_path %>
